AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 120
FixNamespaceComments: false
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Auto
UseTab: Never
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2